* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.btn {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  border-radius: 19px;
  border: 2px solid #F00;
  margin: 50px 50px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  width: fit-content;
  color: #F00;
}

#counter {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.btn.clicked {
  color: #FFF;
  background: #F00;
}

.btn.clicked #counter {
  color: #FFF;
}